.plumeria-gal-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.inf-gal-plum{
    margin-top: 2rem;
}

.scroller ul {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    animation: scroll var(--animation-duration, 40s) linear infinite var(--animation-direction, forwards);
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scroll-reverse {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  